

// border-radius mixin
/*
  ex : @include bRadius(1rem);
*/
@mixin bRadius($r) {
  border-radius: $r;
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  -o-border-radius: $r;
}


@mixin bp-max-width() {
  @media only screen and (max-width: 640px) {
    @content;
  }
}
