@import "./colors";

$primary-color:$primaryColor;
$Grey-color: $primaryGrey;
$darkGrey-color: $darkGrey;
$secondary-color: $secoundColor;
$white-color:$white;
$darkwhite-color:$darkwhite;


