@import "../../../../scss/abstracts/variables";

.footer-container {
    background-color: $darkGrey;
    background-color: #2b2b2b;
    height: 70px;
    justify-content: center;
    
    p{
        color: white;
    }
    

}